.application.sheet.actor.v2 .window-content .tab.active[data-tab=skills] .skill-component.ptr2e-modifications .skill-list .skill.depth-0 {
  margin-left: 0;
}
.application.sheet.actor.v2 .window-content .tab.active[data-tab=skills] .skill-component.ptr2e-modifications .skill-list .skill.depth-0.skill-group-label {
  margin-left: calc(16px + 0.25rem);
}
.application.sheet.actor.v2 .window-content .tab.active[data-tab=skills] .skill-component.ptr2e-modifications .skill-list .skill.depth-1 {
  margin-left: calc(16px + 0.25rem);
}
.application.sheet.actor.v2 .window-content .tab.active[data-tab=skills] .skill-component.ptr2e-modifications .skill-list .skill.depth-1.skill-group-label {
  margin-left: calc(32px + 0.25rem);
}
.application.sheet.actor.v2 .window-content .tab.active[data-tab=skills] .skill-component.ptr2e-modifications .skill-list .skill.depth-2 {
  margin-left: calc(32px + 0.25rem);
}
.application.sheet.actor.v2 .window-content .tab.active[data-tab=skills] .skill-component.ptr2e-modifications .skill-list .skill.depth-2.skill-group-label {
  margin-left: calc(48px + 0.25rem);
}
.application.sheet.actor.v2 .window-content .tab.active[data-tab=skills] .skill-component.ptr2e-modifications .skill-list .skill.depth-3 {
  margin-left: calc(48px + 0.25rem);
}
.application.sheet.actor.v2 .window-content .tab.active[data-tab=skills] .skill-component.ptr2e-modifications .skill-list .skill.depth-3.skill-group-label {
  margin-left: calc(64px + 0.25rem);
}
.application.sheet.skill-sheet .ptr2e-modifications .skills div.skill,
.application.sheet.skill-sheet .ptr2e-modifications .skills header.skill,
.application.sheet.skill-sheet .ptr2e-modifications .skills div.skill-group,
.application.sheet.skill-sheet .ptr2e-modifications .skills header.skill-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 4px 0;
  text-align: center;
}
.application.sheet.skill-sheet .ptr2e-modifications .skills div.skill label,
.application.sheet.skill-sheet .ptr2e-modifications .skills header.skill label,
.application.sheet.skill-sheet .ptr2e-modifications .skills div.skill-group label,
.application.sheet.skill-sheet .ptr2e-modifications .skills header.skill-group label,
.application.sheet.skill-sheet .ptr2e-modifications .skills div.skill input,
.application.sheet.skill-sheet .ptr2e-modifications .skills header.skill input,
.application.sheet.skill-sheet .ptr2e-modifications .skills div.skill-group input,
.application.sheet.skill-sheet .ptr2e-modifications .skills header.skill-group input,
.application.sheet.skill-sheet .ptr2e-modifications .skills div.skill button,
.application.sheet.skill-sheet .ptr2e-modifications .skills header.skill button,
.application.sheet.skill-sheet .ptr2e-modifications .skills div.skill-group button,
.application.sheet.skill-sheet .ptr2e-modifications .skills header.skill-group button {
  flex: 0 0 22%;
  text-align: center;
}
.application.sheet.skill-sheet .ptr2e-modifications .skills div.skill :first-child,
.application.sheet.skill-sheet .ptr2e-modifications .skills header.skill :first-child,
.application.sheet.skill-sheet .ptr2e-modifications .skills div.skill-group :first-child,
.application.sheet.skill-sheet .ptr2e-modifications .skills header.skill-group :first-child {
  text-align: left;
  justify-self: left;
  padding-left: 0.5em;
  flex: 1 0;
}
.application.sheet.skill-sheet .ptr2e-modifications .skills div.skill.depth-0 :first-child,
.application.sheet.skill-sheet .ptr2e-modifications .skills header.skill.depth-0 :first-child,
.application.sheet.skill-sheet .ptr2e-modifications .skills div.skill-group.depth-0 :first-child,
.application.sheet.skill-sheet .ptr2e-modifications .skills header.skill-group.depth-0 :first-child {
  padding-left: unset;
}
.application.sheet.skill-sheet .ptr2e-modifications .skills div.skill.depth-1 :first-child,
.application.sheet.skill-sheet .ptr2e-modifications .skills header.skill.depth-1 :first-child,
.application.sheet.skill-sheet .ptr2e-modifications .skills div.skill-group.depth-1 :first-child,
.application.sheet.skill-sheet .ptr2e-modifications .skills header.skill-group.depth-1 :first-child {
  padding-left: 1.5em;
}
.application.sheet.skill-sheet .ptr2e-modifications .skills div.skill.depth-2 :first-child,
.application.sheet.skill-sheet .ptr2e-modifications .skills header.skill.depth-2 :first-child,
.application.sheet.skill-sheet .ptr2e-modifications .skills div.skill-group.depth-2 :first-child,
.application.sheet.skill-sheet .ptr2e-modifications .skills header.skill-group.depth-2 :first-child {
  padding-left: 2.5em;
}
.application.sheet.skill-sheet .ptr2e-modifications .skills div.skill.depth-3 :first-child,
.application.sheet.skill-sheet .ptr2e-modifications .skills header.skill.depth-3 :first-child,
.application.sheet.skill-sheet .ptr2e-modifications .skills div.skill-group.depth-3 :first-child,
.application.sheet.skill-sheet .ptr2e-modifications .skills header.skill-group.depth-3 :first-child {
  padding-left: 3.5em;
}
.ptr2e.sheet.xp-sheet .xp-popup {
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
}
.ptr2e.sheet.xp-sheet .xp-popup .actor-scroll {
  display: flex;
  width: 100%;
  overflow-x: auto;
  justify-content: start;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.ptr2e.sheet.xp-sheet .xp-popup .actor-scroll img {
  width: 40px;
  height: 40px;
}
.ptr2e.sheet.xp-sheet .xp-popup .party-apply .note {
  opacity: 0.8;
  margin-bottom: 0;
  font-style: italic;
}
.ptr2e.sheet.xp-sheet .xp-popup .prospective-circumstance-modifiers {
  max-height: 300px;
  overflow-y: auto;
}
.ptr2e.sheet.xp-sheet .xp-popup .applied-circumstance-modifiers {
  max-height: 200px;
  overflow-y: auto;
}
.ptr2e.sheet.xp-sheet .xp-popup .cm {
  display: flex;
  gap: 0.5rem;
  width: 100%;
}
.ptr2e.sheet.xp-sheet .xp-popup .cm .label {
  flex: 1;
}
.ptr2e.sheet.xp-sheet .xp-popup .cm .bonus {
  flex: 0;
}
.ptr2e.sheet.xp-sheet .xp-popup .cm input.bonus {
  min-width: 4em;
}
.ptr2e.sheet.xp-sheet .xp-popup .cm button {
  width: 20px;
  height: 20px;
  flex: 0;
}
